{% extends 'base.html' %}

{% block title %}
  Liste des clients
{% endblock title %}

{% block content %}
<div class="card-body">
    <div class="template-demo">
        {% if user.is_manager %}
            <a href="{% url 'cus-create' %}">
                <button type="button" class="btn btn-primary btn-rounded btn-fw">Ajouter un client</button>
            </a>
        {% endif %}
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Clients</h4>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Actions</th>
                       
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <th>{{ customer.id}}</th>
                            <td>{{ customer.lastname }}</td>
                            <td>{{ customer.firstname }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.address }}</td>
                            
                            
                            <td>
                
                                <a href="{% url 'cus-delete' companies.id %}" class="btn btn-sm btn-danger"> delete</a>
                            </td>
                        </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}