{% extends 'base.html' %}

{% block title %}
  Liste des investissements
{% endblock title %}

{% block content %}
<div class="card-body">
    <div class="template-demo">
        <a href="{% url 'i-create' %}">
            <button type="button" class="btn btn-primary btn-rounded btn-fw">Ajouter un investissement</button>
        </a>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Investissements</h4>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Portefeuille</th>
                        <th>Entreprise</th>
                        <th>Type</th>
                        <th>Quantité</th>
                        <th>Prix d'achat</th>
                        <th>Date d'achat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for investment in investments %}
                        <tr>
                            <th>{{ investment.id }}</th>
                            <td>{{ investment.portfolio.name }}</td>
                            <td>{{ investment.company.name }}</td>
                            <td>{{ investment.get_investment_type_display }}</td>
                            <td>{{ investment.quantity }}</td>
                            <td>{{ investment.purchase_price }}</td>
                            <td>{{ investment.purchase_date }}</td>
                            <td>
                                <a href="{% url 'i-show' investment.id %}" class="btn btn-sm btn-info">show</a>
                                <a href="{% url 'i-update' investment.id %}" class="btn btn-sm btn-warning">edit</a>
                                <a href="{% url 'i-delete' investment.id %}" class="btn btn-sm btn-danger">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
