{% extends 'base.html' %}

{% block title %}
  Liste des investissements
{% endblock title %}

{% block content %}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ajouter un investissemnt</h4>

            <form action="{% url 'i-create' %}" method="POST" class="forms-sample"enctype="multipart/form-data">
                {% csrf_token %}
            
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary mr-2">Soumettre</button>
                <a href="{% url 'i-list' %}" class="btn btn-dark">Annuler</a>
            </form>
        </div>
    </div>
</div>


{% endblock content %}